<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--引入jdbc.properties文件-->
    <!--<properties resource="jdbc.properties"/>-->

    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/smbms?characterEncoding=utf8&amp;
        zeroDateTimeBehavior=CONVERT_TO_NULL&amp;serverTimezone=UTC&amp;useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="miao123"/>

    </properties>

    <settings>
        <!--设置日志-->
        <setting name="logImpl" value="LOG4J"/>

        <!--自动映射级别-->
        <!--<setting name="autoMappingBehavior" value="NONE"/>-->
        <!--autoMappingBehavior	指定 MyBatis 应如何自动映射列到字段或属性。 NONE 表
        示取消自动映射；PARTIAL 只会自动映射没有定义嵌套结果集映射的结果集。
        FULL 会自动映射任意复杂的结果集（无论是否嵌套）。-->
        <!--<setting name="autoMappingBehavior" value="FULL"/>-->
    </settings>
    
    <typeAliases>
        <!--<typeAlias type="cn.miao.pojo.User" alias="user"/>-->
        <!--自动扫描，包下的所有文件，自动取别 名为类名 -->
        <package name="cn.miao.pojo"/>
    </typeAliases>

    <!--配置运行环境-->
    <environments default="development">
        <environment id="development">
            <!-- type="JDBC" 代表使用JDBC的提交和回滚来管理事务 -->
            <transactionManager type="JDBC"/>

            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--将mapper文件加入到配置文件中-->
    <mappers>
        <!--告知映射文件方式1，一个一个的配置-->
        <mapper resource="cn/miao/dao/UserMapper.xml"/>
        <!--<mapper url="file:///E:\javaweb\miao_MyBatis\src\java\cn\miao\dao\UserMapper.xml"/>-->
    </mappers>
    <!-- 告知映射文件方式2，自动扫描包内的Mapper接口与配置文件 -->
    <!--<package name="com/cy/mybatis/mapper"/>-->
</configuration>